@model UIConfiguration.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot password?";
}

<div class="container">
    <h2 class="header blue-text"> @ViewBag.Title</h2>

    @Html.AntiForgeryToken()
    <h4>Geben Sie Ihre E-Mail-Adresse ein.</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @id = "email"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" id="btnSendEmail">Send an email</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#btnSendEmail").on("click", function () {
            var email = $("#email").text();
            $.ajax({
                url = '@Url.Action("SendForgotPasswordMail", "Account")?email' + email
            }).done(function (result) {
                alert("An email to reset you password was sent to you!");
            }).fail(function(result){
                alert("error");
            });
        });
    </script>
}
