@using UIConfiguration.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}


<div class="section container row">
    <h2 class="header blue-text"> @ViewBag.Title</h2>
    
    <div class="row">
        <div class="col s12 light">        

            Mirror, mirror, on the wall,<br/>
            Who in this land is smartest of all?<br />
            <br />
            It answered:<br />
            <br />
            You, my queen, are smart; it is true.<br />
            But Snow White mirror, beyond the mountains<br />
            With the seven dwarves,<br />
            Is still a thousand times smarter than you.

        </div>
    </div>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col s12", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.Email, new { @class = "validate" })
                @Html.TextBoxFor(m => m.Email, new { @name = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text light" })
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.Password, new { @class = "validate" })
                @Html.PasswordFor(m => m.Password, new { @name = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text light" })
            </div>
        </div>

        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "red-text light" })
        </div>

        <div class="row right-align">
            <input type="checkbox" id="RememberMe" name="RememberMe"/>
            <label for="RememberMe">Remember me</label>           
        </div>

        <div class="row right-align">
            <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit</button>
        </div>

        <div class="row right-align">
            @Html.ActionLink("Forgot your password?", "ForgotPassword", "", new { @class = "light" })            
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/materialize")
}