@using UIConfiguration.Models
@model TargetMirrorUserViewModel
@{
    ViewBag.Title = "Mirror-Configuration";
}

@Styles.Render("~/Content/gridster")
@Scripts.Render("~/bundles/gridster")

<style>
    .gridster {
        height: 585px;
        border: 1px solid white;
    }

    #dwarf-pool {
        overflow-y: auto;
    }

        #dwarf-pool ul, #dwarf-pool ul li {
            width: 100%;
            text-align: center;
        }

    .gridster ul {
        width: 100%;
        margin: 0;
    }

        .gridster ul > li {
            border: 1px solid white;
        }

    ul {
        list-style-type: none;
    }
</style>

<h2>Hello @Model.User.FirstName @Model.User.LastName !</h2>
@if (Model.User.SpeechID == null || Model.User.SpeechID.Equals(""))
{
    <p>You have to record your voice!</p>
    <p></p>
    <ol style="list-style-type: decimal">
        <li>Check wheather your mirror is on</li>
        <li>Press <button class="btn btn-primary btn-circle" id="startRecording"><i class="fa fa-microphone"></i></button> to start recording</li>
        <li>Go to the mirror</li>
        <li>There you will see a new window where you can record your voice.</li>
    </ol>
}
<h4>Configuration</h4>
<div class="row">
    <div class="col s2">
        <div class="gridster" id="dwarf-pool">
            <ul></ul>
        </div>
    </div>
    <div class="col s10 ">
        <div class="gridster task-card-list" id="dashboard">
            <ul></ul>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

    var dwarfPool;
    var dashboard;

    $(document).ready(function () {
        fillPool();
        buildGrid();

        $("#dwarf-pool ul li").on("click", function () {
            var dwarf = ['<li>' + $(this).html() + '</li>', 1, 1];
            dashboard.add_widget.apply(dashboard, dwarf);
            dwarfPool.remove_widget(dwarfPool, dwarf);
        });

        $("#dashboard ul li").on("click", function () {
            var dwarf = ['<li>' + $(this).html() + '</li>', 1, 1];
            dwarfPool.add_widget.apply(dwarfPool, dwarf);
        });
    });

    var buildGrid = function () {

        var dimension = 140;

        dashboard = $('#dashboard ul').gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [dimension, dimension],
            shift_widgets_up: false,
            shift_larger_widgets_down: false,
            collision: {
                wait_for_mouseup: true
            },
            resize: {
                enabled: true
            }
        }).data('gridster');
    };

    var fillPool = function () {

        var dimension = $('#dwarf-pool ul').width() - 50;

        widgetPool = $('#dwarf-pool ul').gridster({
            widget_margins: [5, 5],
            widget_base_dimensions: [dimension, dimension],
            shift_larger_widgets_down: false
        }).data('gridster');

        var dwarfs = [
            ['<li>NEWS</li>', 1, 1],
            ['<li>WEATHER</li>', 1, 1],
            ['<li>FACEBOOK</li>', 1, 1],
            ['<li>MAIL</li>', 1, 1],
            ['<li>GOTTMUSIG</li>', 1, 1]
        ];

        $.each(dwarfs, function (i, dwarf) {
            widgetPool.add_widget.apply(widgetPool, dwarf)
        });
    }

    $("#startRecording").on("click", function () {
        $.ajax(function () {
            url: 'snowwhite-configurationpage.azurewebsites.net/Configuration/StartRecording?id=' + @Model.Mirror.Id,
            type: 'json',
            async: true
        }).done(function () {
            alert("Go to your Mirror " + @Model.Mirror.SecretName + " and record you voice");
        })
    });
    </script>
}
