<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>@ViewBag.Title - UI-Configurationpage</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("Scripts", required: false)
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper center-block">
                <a href="/#"><img class="responsive-img logo-nav-image  hide-on-med-and-down" src="~/Content/Images/snowwhite-logo48.png" /></a>
                <a href="/#" id="logo-container" class="brand-logo">Snow White</a>
                <ul id="nav" class="right hide-on-med-and-down">
                    <li><a href="/#intro">Service</a></li>
                    <li><a href="/#team">Team</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#intro">Service</a></li>
                    <li><a href="/#team">Team</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<div>
    @RenderBody()
    <footer class="page-footer default_color" id="contact">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact us</h5>
                    <p class="grey-text text-lighten-4">
                        Course: TINF15B2, Snow White Group<br/>
                        Duale Hochschule Baden-Württemberg<br />
                        Erzbergerstr. 121<br />
                        76133 Karlsruhe<br />
                        Phone: 0721 97355<br />
                        E-Mail: <a class="grey-text text-lighten-3" href="mailto:snowwhite@myapps2go.de">snowwhite@myapps2go.de</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/Snow-White-Group">Join us at Github</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://mmowblog.wordpress.com/">Join us at Wordpress</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://sites.google.com/view/snowwhitedev">Check out our Project</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright darken-3">
            <div class="container">
                © 2017 Snow White Group
                <a class="grey-text text-lighten-4 right" href="#">Back to Top</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>