@using UIConfiguration.Models
@using Microsoft.AspNet.Identity
@{ 
    SnowwhiteUser user =  ApplicationDbContext.GetUser();
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "left" }))
    {
    @Html.AntiForgeryToken()
        <li><a href="@Url.Action("ShowProfile","Configuration")">@user.FirstName</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
